body{
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
    background-color:#0a0c0b;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/*---navigation/header--------------------*/
nav{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 7%;
    background-color: #000000;
}
.logo{
    width:120px;
    height: 120px;
}
.logo img{
    width:100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li a{
    padding: 5px 10px;
    margin: 5px;
    color: #aba9ae;
    text-transform: uppercase;
    font-size: 0.9rem;
}
.menu li a:hover{
    color: #ffffff;
    transition: all ease 0.3s;
}
/*--main-------------------------------*/
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height:65vh;
    padding: 20px;
}
.main-text h1,
.main-text h2{
    color: #ffffff;
    font-size: 2.3rem;
    letter-spacing: 2px;
}
.main-text p{
    color: #6f6230;
    margin-top: 10px;
}
/*--painting----------------------------------*/
#painting,
#vector,
#edits,
#logo{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.painting-heading,
.vector-heading,
.edits-heading,
.logo-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:85%;
    margin: 10px auto;
    padding: 15px 0px;
    border-bottom: 1px solid #3f3f3f;
}
.painting-heading h3,
.vector-heading h3,
.edits-heading h3,
.logo-heading h3{
    color: #a7a5a4;
    text-transform: uppercase;
    font-size: 2.3rem;
    letter-spacing: 4px;
    background-color: #000000;
    font-weight: 400;
    padding: 2px 40px;
    margin: 10px 0px;
}
.painting-heading span,
.vector-heading span,
.edits-heading span,
.logo-heading span{
    color:#a7a5a4;
    font-size: 0.9rem;
    background-color: #060909;
    font-style: italic;
}
.painting-box-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    width:96%;
    margin: 20px 0px;
    grid-gap: 7px;
}

.painting-box img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/*--Vectors-----------------------*/
#vector,
#edits,
#logo{
    margin-top:120px;
}
.vector-box-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px;
    width:96%;
    margin: 20px 0px;
    grid-gap: 7px;
}
.vector-box img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/*--Edits-------------------------------*/
.edits-box-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    width:96%;
    margin: 20px 0px;
    grid-gap: 7px;
}

.edits-box img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*--Logo----------------*/

.logo-box-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    width:1000px;
    margin: 20px 0px;
    grid-gap: 25px;
}

.logo-box img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*--footer-------------------------------*/
footer{
    background-color: #3f3f3f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    margin-top: 80px;
}
.footer-social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-social a{
    color: #aba9ae;
    margin: 5px 10px;
}
.footer-social a:hover{
    color: #858585;
    transition: all ease 0.3s;
}
.copyright{
    color: #aba9ae;
    font-size: 0.9rem;
}
::selection{
    background-color: #ffd21e;
    color: #0a0c0b;
}

/*------Making-Responsive-----------------------*/
nav .menu-btn{
    display: none;
}
@media(max-width:1100px){
    .vector-box-container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:400px 400px;
       
    }
}
@media(max-width:1045px){

    .logo-box-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 150px 150px;
        width:800px;
        margin: 20px 0px;
        grid-gap: 25px;
    }
    .edits-box-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .edits-box{
        width:250px;
    }

}
@media(max-width:1000px){

    .painting-box-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width:90%;
    }
    .vector-box-container{
        width: 90%;
    }
   
    
}
@media(max-width:840px){

    .logo-box-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width:100%;
    }
    .logo-box{
        width:220px;
        height: 220px;
    }
   


}
@media(max-width:800px){
    .main-text{
        text-align: center;
    }
    .main-text h1,
    .main-text h2{
        font-size: 1.9rem;
        font-weight: 600;
    }
    .vector-box-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows:1fr 1fr;
    }
    
}

@media(max-width:750px){
    nav{
        flex-direction: column;
        position: relative;
        padding: 20px 0px 0px 0px;
    }
    .menu{
        display: none;
        background-color: rgb(0, 0, 0);
        width:100%;
		padding: 0px;
		margin: 0px;
    }
    .menu li{
        width:100%;
    }
    nav .menu li a{
        width:100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0px;
        padding: 25px;
        border-bottom:1px solid rgba(230, 230, 230, 0.03);
    }
    nav .menu-icon{
        cursor: pointer;
        float: right;
        padding: 30px 20px 40px 20px;
        position: relative;
        user-select: none;
    }
    nav .menu-icon .nav-icon{
        background-color: #ffffff;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width:30px;
    }
    nav .menu-icon .nav-icon:before,
    nav .menu-icon .nav-icon:after{
        background: #ffffff;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s;
        width:100%;
    }
    nav .menu-icon .nav-icon:before{
        top: 7px;
    }
    nav .menu-icon .nav-icon:after{
        top:-7px;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon{
        background: transparent;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform: rotate(-45deg);
        top: 0;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);
        top: 0;
    }
    nav .menu-btn{
        display: none;
    }
    nav .menu-btn:checked ~ .menu{
        display: block;
    }
   
}


@media(max-width:550px){
    .painting-heading h3,
    .vector-heading h3,
    .logo-heading h3,
    .edits-heading h3{
        font-size: 1.8rem;
    }
    .painting-box-container,
    .vector-box-container,
    .edits-box-container{
        display: grid;
        width:96%;
        grid-template-columns: 1fr;
        grid-template-rows:auto;
        grid-row: auto;
        width:90%;
    }
    .v-b-container-2{
        margin-top: 30px;
    }
    .edits-box{
        width:100%;
    }
    .logo-box{
        width:80%;
        height:80%;
    }
    .copyright{
        text-align: center;
    }
}